.forgot-password-container {
    display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #cde3eb;
  font-family: Arial, sans-serif;
  }
  .forgot-password-form{
    background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 60vh;
  }
  .forgot-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  
  .forgot-password-form p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 40px;
  }
  
  .email-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
  }
  
  .reset-button {
    width: 100%;
  padding: 10px;
  background-color: #16569a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
 
  }
  
  .reset-button:hover {
    background-color: #083b75;
  }
  
  .back-to-login {
    display: block;
    margin-top: 30px;
    color: #da2d2d;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  